<section class="usa-section">
  <div class="usa-grid">
    <app-breadcrumbs></app-breadcrumbs>

    <h1 id="skip-nav-target" tabindex="-1">Manage admin users</h1>

    <div class="search-and-add-users-container">
      <div class="search-input-and-submit">
        <input [(ngModel)]="searchText" type="text" class="usa-input table-search-input"/>
        <button class="usa-button usa-button-primary-alt">Search</button>
      </div>
      <button (click)="addingUser = true" class="usa-button usa-button-primary-alt add-user-button">Add User</button>
    </div>

    <table id="manage-users-table">
      <thead>
        <tr>
          <th scope="col">Name/Email</th>
          <th scope="col">Forest/s</th>
          <th scope="col">Access-level</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | filterUsers : searchText">
          <td>
            <div class="table-user-info-container">
              <span class="table-user-name">{{user.name}}</span>
              <span>{{user.email}}</span>
            </div>
          </td>
          <td>
            <div class="table-user-forest-names">
              <span *ngFor="let forest of user.forests">{{forest.name}}</span>
            </div>
          </td>
          <td>
            <div class="table-access-container">
              <div class="table-access-level-container">
                <span *ngFor="let forest of user.forests">{{forest.access}}</span>
              </div>
              <div class="table-button-container">
                <button (click)="editUser(user)" class="usa-button usa-button-table">Edit</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div (click)="addingUser = false" *ngIf="addingUser" class="modal-view"></div>
    <div *ngIf="addingUser" class="add-user-modal">
      <span class="close-modal-button" (click)="addingUser = false">X</span>
      <span class="add-user-label">Add user</span>
      <label for="new-user-input" class="usa-input">First Name</label>
      <input name="new-user-input" [(ngModel)]="newUser.firstName" type="text"/>
      <label for="new-user-input" class="usa-input">Last Name</label>
      <input name="new-user-input" [(ngModel)]="newUser.lastName" type="text"/>
      <label for="new-user-input" class="usa-input">Email address</label>
      <input name="new-user-input" [(ngModel)]="newUser.email" type="text"/>
      <div class="modal-action-buttons">
        <button (click)="addUser()" class="usa-button usa-button-primary-alt">Add new admin</button>
        <button (click)="addingUser = false" class="usa-button usa-button-table">Cancel</button>
      </div>
    </div>

  </div>
</section>
