.usa-table.fs-table {
  th,
  td {
    border: none;
    border-bottom: solid 1px $dark-grey;
    text-align: center;
  }
  thead {
    th {
      background: transparent;
    }
  }
  tbody {
    border: solid 1px $dark-grey;
  }
}
.table-user-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  .table-user-name {
    font-size: 2rem;
  }
}
.table-user-forest-names {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.table-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    margin-right: 10px;
  }
}
.table-access-container {
  display: flex;
  justify-content: space-between;
}
.table-access-level-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

#manage-users-table {
  width: 100% !important;
  margin-top: 5px !important;
  margin-left: 3px !important;
}
