.usa-table.fs-table {
  th,
  td {
    border: none;
    border-bottom: solid 1px $dark-grey;
    text-align: center;
  }
  thead {
    th {
      background: transparent;
    }
  }
  tbody {
    border: solid 1px $dark-grey;
  }
}
.table-user-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  .table-user-name {
    font-size: 2rem;
  }
}
.table-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  span {
    margin-right: 10px;
  }
}
